alias rm_dsstore='find . -name "*.DS_Store" -type f -delete'
alias be='bundle exec '
alias ber='bundle exec rake '
alias rs='bundle exec rails s'
alias gr='git reset --hard origin/$(current_branch)'
alias dc='docker-compose '
