alias router='ssh -f hal -L 2020:192.168.0.1:80 -N && open http://localhost:2020'
alias unrouter='pkill ssh -f hal -L 2020:192.168.0.1:80 -N'
alias rm_dsstore='find . -name "*.DS_Store" -type f -delete'
alias be='bundle exec '
alias ber='bundle exec rake '
alias rs='bundle exec rails s'
alias gr='git reset --hard origin/$(current_branch)'
alias ms='mix phoenix.server '
