[user]
	name = Óscar de Arriba
	email = oscar@dearriba.es
	signingkey = C568F4997840A0B5
[merge]
	ff = false
[branch]
	autosetuprebase = always
[push]
	default = simple
[core]
	excludesfile = ~/.gitignore_global
[status]
	submoduleSummary = true
